{{main-navigation}}
<div class="reservation-history" style="background:#F9F9F9">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="reservation-header-label">Reservation history</div>
            </div>
        </div>
    </div>
    <div class="container find-table-container">
    <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reservation time</th>
      <th scope="col">Sitting places</th>
      <th scope="col">Restuarant</th>
    </tr>
  </thead>
{{#each model.data as |reservation index|}}
  <tbody>
      <th scope="col">{{index}}</th>
      <th scope="col">{{reservation.startTime}}</th>
      <th scope="col">{{reservation.restaurantTable.sittingPlaces}}</th>
      <th scope="col">{{reservation.restaurantTable.restaurant.name}}</th>
  </tbody>
        {{/each}}

</table>
</div>
</div>